@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  overflow-x: hidden;
  background-color: #F9CDA3;
  font-size: 1.2vw
}
body.loading {
  cursor: wait;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
